:root {
  --firstColor: #222831;
  --secondColor: #393e46;
  --thirdColor: #f96d00;
  --fourthColor: #f2f2f2;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Anek Gujarati", sans-serif;
  background-color: var(--firstColor);
  color: var(--fourthColor);
  line-height: 30px;
  text-transform: capitalize;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
header {
  background-color: var(--thirdColor);
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .links {
  z-index: 999;
  position: relative;
}

header .container .links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--fourthColor);
  transition: 0.2s;
}

/* medium */
@media (min-width: 992px) {
  header .container .links ul li a {
    font-size: 20px;
  }
}

header .container .logo a {
  text-decoration: none;
  font-family: "Lobster", cursive;
  color: var(--firstColor);
  font-size: 25px;
  font-weight: bold;
}

header .container .links ul {
  display: flex;
  gap: 30px;
}

header .container .links ul li {
  list-style: none;
  position: relative;
}

header .container .links ul li a:hover {
  color: var(--firstColor);
}

header .container .links ul li:not(:first-child)::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--fourthColor);
  position: absolute;
  left: -15px;
  top: 0px;
}

.links span.iconNav {
  position: absolute;
  right: 20px;
  top: -15px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.links .iconNav span {
  width: 30px;
  height: 3px;
  background-color: var(--firstColor);
  margin-top: 5px;
  display: none;
}

.links .iconNav span:nth-child(2) {
  width: 15px;
  transition: 0.4s;
}

.links .iconNav:hover span:nth-child(2) {
  width: 30px;
}

/* small */
@media (max-width: 768px) {
  header .container .links ul {
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    background-color: var(--thirdColor);
    gap: 20px;
    width: 225px;
    justify-content: center;
  }

  header .container .links.menu ul {
    display: flex;
  }

  header .container .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--firstColor) transparent;
    position: absolute;
    right: 9px;
    top: -20px;
  }

  .links .iconNav span {
    display: block;
  }
}

/* End header */
/* Start landing */
.landing {
  position: relative;
  top: 62px;
  height: calc(100vh - 62px);
}

.landing .iconLogo img {
  width: 200px;
  animation: rotateMe 8s linear infinite;
}

@keyframes rotateMe {
  0% {
    transform: rotate(0deg) translateX(0px);
  }

  50% {
    transform: rotate(180deg) translateX(200px);
  }

  100% {
    transform: rotate(360deg) translateX(0px);
  }
}

.landing .textLanding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 10px;
  margin-top: 30px;
  animation: scaleLanding 1s, rotateBox 3s linear 1s infinite;
}

@keyframes scaleLanding {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  70% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes rotateBox {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(2deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* small */
@media (max-width: 768px) {
  .landing .textLanding {
    width: 350px;
  }
}

/* medium */
@media (min-width: 992px) and (max-width: 1999px) {
  .landing .textLanding {
    width: 700px;
  }
}

/* larg */
@media (min-width: 1200px) {
  .landing .textLanding {
    width: 800px;
  }
}

.landing .container .textLanding i {
  font-size: 30px;
  color: #393e46;
}

/* End landing */
/* Start Services */
.Services .container h1,
.Projects .container h1,
.Contact .container h1 {
  margin-top: 100px;
  text-align: center;
  color: var(--secondColor);
  font-weight: 900;
  text-shadow: 3px 6px 15px black;
}

.Services .container .contentServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Services .container .contentServices .cardService {
  text-align: center;
  padding: 30px;
  background-color: var(--secondColor);
  border-radius: 20px;
  box-shadow: 0 0 20px 0 #000000;
  transition-duration: 1s;
  width: 300px;
}

.Services .container .contentServices .cardService:hover {
  background-color: var(--firstColor);
}

.Services .container .contentServices .cardService i {
  color: var(--thirdColor);
  font-size: 60px;
}

.Services .container span {
  font-size: 13px;
  text-align: center;
  display: block;
  width: 250px;
  margin: 20px auto 0;
}

/* End Services */
/* Start Projects */
.Projects .container .contentProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.Projects .container .contentProjects .boxProjects {
  margin-top: 30px;
  background-color: var(--secondColor);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 20px 0px black;
  text-align: center;
  border-radius: 80px;
  width: 325px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects .container .contentProjects .boxProjects .imgProjects {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.Projects .container .contentProjects .boxProjects a.buttonProjects {
  text-decoration: none;
  color: var(--fourthColor);
  font-weight: bold;
  background-color: var(--thirdColor);
  border-radius: 40px;
  transition-duration: 0.2s;
  display: block;
  width: 50%;
  margin: 20px auto 10px;
  border: 2px solid transparent;
  padding: 6px;
}

.Projects .container .contentProjects .boxProjects a.buttonProjects:hover {
  color: var(--thirdColor);
  background-color: transparent;
  border: 2px solid var(--thirdColor);
}

/* End Projects */
/* Start Contact */
.contentContact {
  display: grid;
  justify-content: center;
}
.contentContact p {
  margin: 10px 0;
  background-color: var(--secondColor);
  padding: 15px 10px;
  border-radius: 6px;
  animation: scaleUpAndDown 3s
    linear(
      0 0%,
      0.22 2.1%,
      0.86 6.5%,
      1.11 8.6%,
      1.3 10.7%,
      1.35 11.8%,
      1.37 12.9%,
      1.37 13.7%,
      1.36 14.5%,
      1.32 16.2%,
      1.03 21.8%,
      0.94 24%,
      0.89 25.9%,
      0.88 26.85%,
      0.87 27.8%,
      0.87 29.25%,
      0.88 30.7%,
      0.91 32.4%,
      0.98 36.4%,
      1.01 38.3%,
      1.04 40.5%,
      1.05 42.7%,
      1.05 44.1%,
      1.04 45.7%,
      1 53.3%,
      0.99 55.4%,
      0.98 57.5%,
      0.99 60.7%,
      1 68.1%,
      1.01 72.2%,
      1 86.7%,
      1 100%
    )
    infinite;
}
@keyframes scaleUpAndDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.contentContact p a {
  color: #ffc79b;
  font-weight: bold;
  text-decoration: none;
}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--thirdColor);
  margin-top: 80px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

p.textFooter {
  font-weight: bold;
}

footer .container .iconFoot {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container .iconFoot a {
  list-style: none;
  height: 17.5px;
}

footer .container .iconFoot a i {
  font-size: 20px;
  transition-duration: 0.2s;
  color: var(--fourthColor);
}

footer .container .iconFoot a:first-child i:hover {
  color: #0a66c2;
}

footer .container .iconFoot a:hover:nth-child(2) i {
  color: #e6edf3;
}

/* End Footer */
