@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    color: #ffffff;
    background-color: #013803;
}

body {
    background-color: #e7f0e7;
    text-transform: capitalize;
}

header {
    background-color: #263c26;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #3b903e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

nav.navigation {
    display: grid;
    align-items: end;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition-duration: 0.1s;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #034a05;
    border-bottom: 2px solid #4caf50;
}

.navigation a:hover {
    color: #064808;
    background-color: #cdcdcd;
    border-bottom: 2px solid #0b540e;
}

main {
    padding: 100px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #1a2e1a;
}

main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #3b903e;
    font-size: 3em;
    font-weight: 600;
}

main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3b903e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #013803;
    transform: scale(1.1);
}

div.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition-duration: 1s;
}

.title {
    display: flex;
    justify-content: center;
    color: #3b903e;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3b903e;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3b903e;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.fa-video-camera:before,
.fa-video:before {
    content: "\f03d";
    color: #3b903e;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

a {
    margin-left: 30px;
}

img {
    border-radius: 50%;
}

.footer {
    background-color: #263c26;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3b903e;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

.navigation a {
    padding-left: 10px;
}

.title {
    font-size: 1.8em;
}

section {
    padding: 80px 20px;
}

.main-content h2 {
    font-size: 1em;
}

.main-content h3 {
    font-size: 1.6em;
}

.content {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}

.fa-youtube:before {
    content: "\f167";
    transition-duration: 0.5s;
}

.fa-youtube:hover {
    color: red;
}

.fa-instagram:before {
    content: "\f16d";
    transition-duration: 0.5s;
}

.fa-instagram:hover {
    background: linear-gradient(145deg, #3051f1 10%, #c92bb7 70%) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-twitter:before {
    content: "\f099";
    transition-duration: 0.5s;
}

.fa-twitter:hover {
    color: #2aa9e0;
}

.fa-linkedin:before {
    content: "\f08c";
    transition-duration: 0.5s;
}

.fa-linkedin:hover {
    color: #0a66c2;
}

@media (max-width: 1600px) {
    header {
        background-color: #263c26;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 10px 40px;
        justify-content: space-between;
        align-items: center;
    }
    main h3 {
        color: #fff;
        font-size: 1.8em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    main h2 {
        color: #fff;
        font-size: 2.4em;
        font-weight: 500;
    }
    .moustafa {
        position: absolute;
        left: 200px;
    }
    .content {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        position: relative;
        left: 5%;
    }
    .card {
        background-color: #fff;
        width: 27.25em;
        box-shadow: 0px 1px 25px rgb(59 144 62 / 36%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
}

@media (max-width: 950px) {
    header {
        background-color: #263c26;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 10px 40px;
        justify-content: space-between;
        align-items: center;
    }
    main h3 {
        color: #fff;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .moustafa {
        position: absolute;
        left: 200px;
    }
    .content {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .card {
        background-color: #fff;
        width: 22.25em;
        box-shadow: 0px 1px 25px rgb(59 144 62 / 36%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
    .info {
        text-align: center;
        font-size: 15px;
    }
    .contact .info p {
        font-size: 1.3em;
    }
}

@media (max-width: 799px) {
    header {
        background-color: #263c26;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 10px 40px;
        justify-content: space-between;
        align-items: center;
    }
    .moustafa {
        position: absolute;
        left: 40px;
    }
    main h3 {
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .content {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .card {
        background-color: #fff;
        width: 16.25em;
        box-shadow: 0px 1px 25px rgb(59 144 62 / 36%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
    .info {
        text-align: center;
        font-size: 15px;
    }
    .contact .info p {
        font-size: 1.3em;
    }
    p.Email {
        font-size: .9em !important;
        font-weight: 600;
    }
}

@media (max-width: 699px) {
    header {
        background-color: #263c26;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 10px 40px;
        justify-content: space-between;
        align-items: center;
    }
    .moustafa {
        position: absolute;
        left: 100px;
    }
    main h2 {
        color: #fff;
        font-size: 1.4em;
        font-weight: 500;
    }
    main h3 {
        color: #fff;
        font-size: 1.3em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    main {
        padding: 100px 200px;
        width: 100%;
        min-height: 80vh;
        display: flex;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: #1a2e1a;
    }
    .content {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .card {
        background-color: #fff;
        width: 16.25em;
        box-shadow: 0px 1px 25px rgb(59 144 62 / 36%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
    .info {
        text-align: center;
        font-size: 15px;
    }
    .contact .info p {
        font-size: 1.3em;
    }
    p.Email {
        font-size: .9em !important;
        font-weight: 600;
    }
}

@media (max-width: 599px) {
    header {
        background-color: #263c26;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }
    main h3 {
        color: #fff;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    main {
        padding: 100px 200px;
        width: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
        background-color: #1a2e1a;
    }
    div.moustafa {
        position: absolute;
        left: 30px;
        top: 115px;
    }
    .social-icons {
        font-size: 10px;
        position: absolute;
        right: 0px;
    }
    .footer {
        background-color: #263c26;
        color: #fff;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        font-size: 5px;
        width: 100%;
        height: 40px;
        align-items: center;
    }
    .content {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .navigation a {
        font-size: 15px;
    }
    nav.navigation {
        display: grid;
        align-items: end;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        position: relative;
        left: 135px;
    }
    .logo {
        text-decoration: none;
        color: #3b903e;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4em;
        position: absolute;
        left: 0;
    }
}

img {
    border-radius: 50%;
    width: 140px;
}

main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #3b903e;
    font-size: 1.4em;
    font-weight: 600;
}

.info {
    text-align: center;
    font-size: 15px;
}

.contact .info p {
    font-size: 1.3em;
}

p.Email {
    font-size: .9em !important;
    font-weight: 600;
}